<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SAT.Properties.Settings.StringConexao" connectionString="Data Source=DESKTOP-R3RP8K6\SQLEXPRESS;Initial Catalog=CFeHAa;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>