<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <!--<add name="SAT.Properties.Settings.StringConexao" connectionString="Data Source=DESKTOP-R3RP8K6\SQLEXPRESS;Initial Catalog=CFe;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    
    <add name="SAT.Properties.Settings.StringConexao" connectionString="Data Source=DESKTOP-R3RP8K6\SQLEXPRESS;Initial Catalog=CFE_;User ID=sa;Password=cliente1;Persist Security Info=True" providerName="System.Data.SqlClient" />

    <add name="StringConexaoWeb" connectionString="RGF0YSBTb3VyY2U9d3d3Lmdwcm9qLmNvbS5icjtJbml0aWFsIENhdGFsb2c9emNvbmRvbWluaW87UGVyc2lzdCBTZWN1cml0eSBJbmZvPVRydWU7VXNlciBJRD16Y29uZG9taW5pbztQYXNzd29yZD0xMl9hdXRvY29tXzMw" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
</configuration>
